*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.record-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: 1px 1px 5px;
    border-radius: .5rem;

}

.record-container2{
     width: 90vw;  
    margin: 1rem 0; 
    background:white;
    padding: .5rem;
    border-radius: 1rem;
    overflow-x: hidden;
}


.btn{
    position: relative;
    top: 1rem;
}

.head{
    font-weight: 600;
    font-size: medium;
}


.headers {
    display: grid;
    grid-template-columns:10% 20% 7.5% 7.5% 10% 10% ;
    column-gap: 5%;
    font-weight: 600;
    font-size: medium;

}

.values{
    display: grid;
        grid-template-columns:10% 20% 7.5% 7.5% 11% 10%;
        column-gap: 4%;

}

.idd{
    position: relative;
    top: 1.6rem;
}

.drawer{
    display: grid;
    grid-template-columns: auto;
    width:fit-content;
    margin: auto
}

.filters{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 1.5rem;
    top: -3rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.home-nav{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
}


.record-containers {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    box-shadow: 1px 1px 5px;
    border-radius: .5rem;
    background-color: white;
    

}

.record-container2s {
    width: 100vw;
    max-width: 23rem;
    height: 70vh;
    min-height:30rem ;
    background: lavender;
    padding: .5rem;
    border-radius: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    
    
}

.input{
    width: 60%;
    margin: auto;
    border: none;
    height: 1.4rem;
    border-radius: .3rem;
    padding:.3rem ;
}

.textarea{
    width: 60%;
    margin: auto;
}

.sub-btn{
    width: 100%;
    margin: auto;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(186, 186, 233);
}

.cont-heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-btn{
    font-size: larger;
}

.btn-div{
    display: flex;
   justify-content: space-around;
   margin: .5rem 1rem;
}

.home-link{
    font-size: 1.5rem;
}

.live-score{
    display: flex;
}


.live-container1 {
    width: 90vw;
    max-width: 30rem;
    background: lavender;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem auto;
}

.live-container2{
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem auto;
}

.mini-container{
    display: grid;
    grid-template-columns: auto auto;
    
}

.mini2{
    display: grid;
    grid-template-columns: auto ;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}
.mini-container1{
    position: relative;
    font-size: small;
    color: green;
}

.mini-container2 {
    position: relative;
    font-size: small;
    right: -4rem;
    color: rgb(108, 107, 107);
}

.f1{
    position: relative;
    
}
.f2{
    position: relative;
   color: red;
   right: 0;
}

.f1{
   color: rgb(79, 73, 73);
}


.live-heading{
    text-align: center;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.team1{
    display: grid;
    grid-template-columns: 20% 80%;
    font-weight:600 ;
}

.live-navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.live-nav{
    position: relative;
    font-size: 1.5rem;
    top: .3rem;
}


.batting-container {
    width:90vw;
    max-width: 35rem;
    margin: auto;
    box-shadow: 1px 1px 5px;
    border-radius: .5rem;

}


.batting-container2 {
    width: 90vw;
    margin: 1rem 0;
    max-width: 35rem;
    background: white;
    padding: .5rem;
    border-radius: 1rem;
    overflow-x: hidden;
    margin: auto;
}

.top-head {
    font-weight: 600;
    font-size: medium;
    display: grid;
    grid-template-columns: 35% 17% 17% 17% 17% ;
}



.batting-values {
    display: grid;
    grid-template-columns:35% 15% 15% 15% 15%;

}

.p-image{
    text-align: center;
    
   
}
.p-image>img{
   
    margin: .5rem 0;
    border-radius: .3rem;
}


.rows{
    display: grid;
    grid-template-columns: 25% 50%;
    margin-left: 26%;
}

.info-container{
    background-color: lavender;
}

.row-header{
    font-weight: bold;
}

.rank-bat{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.special{
    margin-top: .5rem;

}

.search-container{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.player-input{
    width: 60vw;
    max-width: 20rem;
    margin-top: 1rem;
    border: 2px solid rgb(168, 168, 217);
    height: 1.7rem;
    border-radius: .2rem;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.batting-btn{
    position: relative;
    top: -.2rem;
    left: 1rem;
}

.out{
    text-align: center;
    font-size: large;
}

.me{
    position: relative;
    right: -6vh;
    font-size: large;
}